body{
    display: flex;
    justify-content: center;
    text-align: center;
}
.container{

    max-width: 1000px;
    justify-content: center;
    box-shadow: 30px 0px 40px rgba(86, 85, 85, 0.1), -30px 0px 40px rgba(86, 85, 85, 0.1);
}
.main-content{
    display: grid;
    grid-template-columns: auto 300px;
    min-height: 100vh;
	
    
}
.left{
    display: grid;
}
.right{
    display: flex;
    justify-content: center;
  align-items: center;
  text-align: center;
}

.front_pic{
    background: url(https://source.unsplash.com/De8wMYoSSBc);
    background-repeat: none;
    background-size: cover;
}

#r_heading{
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
}
.div_head{
    align-items: center;
}
#h2{
    padding-top: 1rem;
    background-color: rgb(126, 155, 148);
    text-align: center;
    color: white;
    margin: 0%;
    height: 3rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#img_about{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 75vh;
    box-shadow: 8px #aaa;
}
.content{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    font-size: x-large;

}

footer{
    text-align: center;
}

button {
    
    background-color: bisque;
  }
body{
    margin: 0;
}
@media (max-width:414px) {
    .main-content{
        grid-template-columns: repeat(1,1fr);
    }
    
    .front_pic{
        background-size: 100%;
    }
    #images{
        flex-shrink: 3;
    }
    #img_about{
        width: 400px;
    height: 300px;
    }
}
